

.movemeup{
margin: 0px;
    top: 64px;
    left:240px;
    width: 1360px;
    height: 700px;
    background-color: rgb(78, 54, 10);
    background-image:url('../../Assets/rivitmetal3.png');

    position: relative;
   color:rgb(247, 240, 240);
    z-index: -2;
  }
  .content-container{
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
   
    position: relative;
    top: 120px;
    left:550px;
    width: 300px;
    height: 300px;
    animation: changetextcolor 4s infinite linear;
  }
  @keyframes changetextcolor {
    from {
      color:rgb(238, 185, 12);
      
    }
    to {
     color:black;
     
    }
  }
  .arrow {
    position: absolute;
    top: 240px;
    left:380px;
    width: 124px;
    height: 43px;
    background-image:url('../../Assets/arroworg1.png');
    animation: movearrow 4s infinite linear;
  }
  @keyframes movearrow {
    from {
     left:700px;
      
    }
    to {
     left:580px;
     
    }
  }
  
